body {
    margin:0;
    user-select: none;
}

/* font stylings */

h1 {
    font-family: "Livvic", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}
.h1 {
    margin-bottom:35px;
}

h2 {
    font-family: "Livvic", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

h3 {
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

/* body 1 style */
.b1 {
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing:0px;
}

/* body 2 style */
.b2 {
    font-family: "Livvic", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}
/* icon size style */
.icon-size {
    font-size:25px;
}
/* link styles */
.link {
    text-decoration:none;
    color:white;
    transition:ease-in-out 0.2s;
}
.marge {
    margin-right:50px;
}
.marge2 {
    margin-right:12px
}
.link:hover {
    color:#F67E7E;
    cursor:pointer;
}
.link:active {
    color:#F67E7E
}   
/* svg positions */
.svg {
    position:absolute;
}
.position1 {
    left:0;
    bottom:344px;
}
.position2 {
    right:0;
    bottom:0;
}
.marge3 {
    margin-right:20px;
    float:left;
}
/* svg  end*/


/* header style */

/* nav copyable */

header {
    display: flex;
    position: relative;
    flex-shrink: 1;
    background-color: #014E56;
    height: 789px;
    width: 100vw;
    flex-direction: column;
    color: white;
}

/* nav styling */

nav {
    display: flex;
    max-width: 1410px;
    width: 1310px;
    max-height: 50px;
    margin: 0 auto;
    margin-top: 73px;
    margin-left: 165px;
    align-items: center;
    justify-content: flex-start;
    position:relative;
}
.goleft {
    margin-left:114px;
}
.header-logo {
    width: 160px;
    height: 40px;
}

.contact-btn {
    margin-left: auto; /*i just wanna say, who changed this to not be an auto??? */
    width: 153px;
    height: 48px;
    background-color: #014E56;
    color: white;
    border-radius: 24px;
    border: 2px solid #FFF;
    transition: ease-in-out 0.2s;
}

.contact-mobile-btn {
    border: none;
    background-color: #014E56;
    color: white;
    transition: ease-in-out 0.2s;
    display: none;
}

.contact-mobile-btn:hover {
    color: #F67E7E;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: white;
    color: #014E56;
    cursor: pointer;
}

.home-link
{
    margin-left: 82px;
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}
.about-link {
    margin-left: 41px;
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}
.home-link:hover,
.about-link:hover {
    color: #F67E7E;
}

.red-highlight {
    color: #F67E7E;
}
.mobile-menu {
    width: 255px;
    height: 100vh;
    position: fixed;
    z-index: 3;
    background-color: #014E56;
    transition: 0.2s ease-in-out;
    right: -255px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.fa-xmark {
    align-self: flex-end;
    margin-right: 25px;
    margin-top: 56px;
    color: white;
    transition: 0.2s ease-in-out;
}

.fa-xmark:hover {
    color: #F67E7E;
    cursor: pointer;
}

.mobile-home-btn {
    margin-top: 39px;
    margin-left: 48px;
    margin-bottom: 24px;
    color: white;
    text-decoration: none;
}

.mobile-link {
    margin-bottom: 36px;
    margin-left: 48px;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.mobile-link:hover {
    color: #F67E7E;
    cursor: pointer;
}

.mobile-contact-btn {
    margin-left: 48px;
    width: 153px;
    height: 48px;
    background-color: #014E56;
    color: white;
    border-radius: 24px;
    border: 2px solid #FFF;
    transition: ease-in-out 0.2s;
}

.mobile-contact-btn:hover {
    background-color: white;
    color: #014E56;
    cursor: pointer;
}

/* nav copyable/ */

/* header section style*/
.section {
    margin-top:14px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    flex-wrap:wrap;
}

.floatleft {
    float:left;
    height:428px;
    margin-top:70px;
    margin-right:26px;
}

.form {
    margin-top: 104px;
    width:540px;
    height:420px;
}

.header-section-div {
    height:312px;
    width:540px;
}
.letters {
    margin-top: 34px;
    margin-right: 4px;
    color:#F67E7E;
    font-size:32px;
}
.about-bits {
    height:72px;
}
.godown1 {
    margin-bottom:-4px;
}
.godown2 {
    margin-bottom:-9px;
}
.yes {
    padding-top:20px;
}
/* header section end */

/* form style */

.text {
    font-family: "Livvic", sans-serif;
    font-size:15px;
    line-height:25px;
    letter-spacing:-0.12px;
    color:white;
}

/* input styles */
input {
    border:none;
    background:none;
    outline:none;
    width:100%;
    border-bottom:1px solid white;
    margin-bottom: 40px;
    color:#FFFFFF;
    max-width:526px;
}
.alignletters {
    padding-left:12px;
    padding-bottom:16px;
}
.push1 {
    margin-bottom:23px;
}
input:focus {
    border-color:#79C8C7;
}
input:invalid {
    border-color:#F67E7E;
    color:#F67E7E;
}
 input:focus .pleasework {
    border-color:#79C8C7
 }
 textarea {
    outline:none;
    background:none;
    border:none;
    width:100%;
    border-bottom:1px solid white;
    max-width:540px;
    height:81px;
    color:#FFFFFF;
    max-height:81px;
    min-height:81px;
    min-width:540px
 }
 textarea:focus {
    border-color:#79C8C7;
 }
/* input styles end */

/* footer styles */
footer {
    display: flex;
    flex-direction:column;
    width:100vw;
}
/* footer section styles */
.footer-bottom {
    background-color:#002529;
    display:flex;
    height:196px;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap;
    z-index:2;
}
.footer-logo {
    width:160px;
    height:40px;
    margin-bottom:10px;
}

.opacity {
    opacity:60%;
}

.inline {
    display:inline;
}

.svg-position {
    position:absolute;
    left:0;
    bottom:-5px;
    z-index: 1;
}
.div-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
    z-index: 2;
}
.godown {
    margin-bottom:33px;
}
.altcontact-button {
    background-color:#F67E7E;
    color:#012F34;
    border:2px solid #012F34;
    border-radius:24px;
    height:48px;
    width:153px;
    text-align:center;
    transition:ease-in-out 0.2s;
    margin-left:600px
}
.altcontact-button:hover {
    color:white;
    background-color:#012F34;
    cursor:pointer;
}
/* color */
.color1 {
    color:white;
}
.color2 {
    color:#79C8C7
}

.right {
    text-align:right;
}
/* media quaries */

@media (max-width:1440px) {
    /* header */
    header {
        height:1204px
    }
    .header-logo {
        height:32px;
        width:128px;
    }
    nav {
        width: 750px;
    }
    .goleft {
        margin-left:0;
    }
    .home-link,
    .about-link {
        margin-left: 50px;
        color: white;
        text-decoration: none;
        transition: ease-in-out 0.2s;
    }

    .h1 {
        margin-bottom:-19px;
    }
    .godown1 {
        margin-bottom:-10px;
    }
    .yes {
        padding-top:24px;
    }
    /* header end */

    /* form */
    .floatleft {
        float:none;
        display:block;
    }
    /* form end */

    /* footer */
    .footer-div-left{
        width:50%;
    }
    .footer-div-middle {
        width:50%;
        text-align:right;
    }
    .footer-div-right {
        width:100%;
        display:flex;
        justify-content:space-between;
    }
    .godown {
        margin-bottom:0;
    }
    .md-inline {
        display:inline;
        margin-left:auto;
        /* align-self: */
    }
    .right {
        text-align:left;
    }
    .footer-bottom {
        padding: 0 30px 0 30px
    }
    .altcontact-button {
        margin-left:50px;
    }
    .footer-bottom {
        height:271px
    }
    .footer-logo {
        width:96px;
        height:24px;
    }
    .div-position {
        width:760px;
    }
    /* footer end */

    /* header section contents */
    .section {
        flex-direction:column;
    }
    .floatleft {
        float:none;
        margin: 0 auto;
        margin-top:0;
        width:515px;
        height:384px;
        margin-bottom: 111px;
        margin-top: 50px
    }
    .header-section-div {
        width:515px;
        height:384px;
    }
    .form {
        width:542px;
        margin: 0 auto;
    }
    h1 {
        text-align:center;
    }
    h2 {
        text-align:center;
    }

    .position1 {
        bottom:51rem;
    }
    /* header section end */
}
@media (max-width:768px) {
    /* header */
    header {
        height:1132px;
    }
    .home-link,
    .about-link,
    .contact-btn {
        display: none;
    }

    nav {
        width: 327px;
        margin-top:44px;
    }
    .contact-mobile-btn {
        display: inline-block;
        margin-left: auto;
    }

    .letters {
        margin-bottom:40px;
    }
    .godown1 {
        margin-bottom:25px
    }
    .godown2 {
        margin-bottom:24px;
    }
    .h1 {
        margin-top:13px;
    }
    .yes {
        padding-top:7px;
    }
    /* header end */

    /* form start */
    form {
        width:311px;
        max-width:325px;
    }
    textarea {
        max-width:321px;
        min-width:321px;
    }
    /* form end */

    /* footer start */
    .inline {
        display:block;
    }

    .footer-logo {
        margin-top:17px;
        margin-bottom:22px;
    }

    .marge {
        margin-right:20px;
    }

    .footer-div-left{
        width:100%;
        text-align:center;
        margin-top:30px;
    }

    .footer-div-middle {
        width:100%;
        text-align:center;
        font-size:smaller
    }

    .footer-div-right {
        width:100%;
        text-align:center;
        display:block;
        margin-bottom:30px;
    }

    .md-inline {
        display:block;
    }
    .footer-top {
        height:302px;
    }
    .footer-bottom {
        height:432px;
    }
    .div-position {
        width:50%;
        text-align:center;
    }
    .altcontact-button {
        margin-left:0;
    }
    /* footer end */

    /* header section */
    .position1 {
        left:-100px;
        opacity:1
    }
    .position2 {
        bottom:-100px;
    }
    .header-section-div {
        width:327px;
    }
    .form {
        width:327px;
        margin-top:50px;
    }
    .floatleft {
        width:327px;
        margin-bottom:40px;
    }

    h1 {
        font-size:40px;
        line-height:40px;
    }

    /* header section end */

}
.submit {
    background-color: white;
    color: #004047;
    border-radius: 24px;
    height: 48px;
    width: 123px;
    text-align: center;
    margin-top:20px
}
.submit:hover {
    cursor:pointer;
}
/* br{
    
} */
