body {
    margin:0;
}

/* font stylings */

h1 {
    font-family: "Livvic", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}

h2 {
    font-family: "Livvic", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

h3 {
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

/* body 1 style */
.b1 {
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

/* body 2 style */
.b2 {
    font-family: "Livvic", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}
/* icon size style */
.icon-size {
    font-size:25px;
}
/* link styles */
.link {
    text-decoration:none;
    color:white;
    transition:ease-in-out 0.2s;
}
.marge {
    margin-right:50px;
}
.marge2 {
    margin-right:20px
}
.link:hover {
    color:#F67E7E;
    cursor:pointer;
}
.link:active {
    color:#F67E7E
}   
/* svg positions */
.svg {
    position:absolute;
}
.position1 {
    left:0;
    bottom:20rem;
}
.position2 {
    right:0;
    bottom:0;
}
.marge3 {
    margin-right:10px;
}
/* svg  end*/


/* header style */

/* nav copyable */

header {
    display: flex;
    position: relative;
    flex-shrink: 1;
    background-color: #014E56;
    height: 789px;
    width: 100vw;
    flex-direction: column;
    color: white;
}

/* nav styling */

nav {
    display: flex;
    max-width: 1410px;
    width: 1310px;
    max-height: 50px;
    flex-shrink: 0;
    margin: 0 auto;
    margin-top: 3rem;
    align-items: center;
    justify-content: flex-start;
}

.header-logo {
    width: 160px;
    height: 40px;
}

.contact-btn {
    margin-left: auto;
    width: 153px;
    height: 48px;
    background-color: #014E56;
    color: white;
    border-radius: 24px;
    border: 2px solid #FFF;
    transition: ease-in-out 0.2s;
}

.contact-mobile-btn {
    border: none;
    background-color: #014E56;
    color: white;
    transition: ease-in-out 0.2s;
    display: none;
}

.contact-mobile-btn:hover {
    color: #F67E7E;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: white;
    color: #014E56;
    cursor: pointer;
}

.home-link,
.about-link {
    margin-left: 50px;
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

.home-link:hover,
.about-link:hover {
    color: #F67E7E;
}

.red-highlight {
    color: #F67E7E;
}

/* nav copyable/ */

/* header section style*/
.section {
    display: flex;
    margin:auto;
    justify-content: space-between;
}

.floatleft {
    float:left;
}
.header-section-div {
    height:312px;
    width:540px;
}
.letters {
    margin-top: 10px;
    color:#F67E7E;
    font-size:32px;
}
.about-bits {
    height:72px;
}
/* header section end */

/* form style */
h1{
    font-size: 64px;
    margin-bottom: 0px;
}
.text {
    font-family: "Livvic", sans-serif;
    font-size:15px;
    line-height:25px;
    letter-spacing:-0.12px;
    color:white;
}
.line {
    border-bottom:1px solid white;
}
input {
    border:none;
    background:none;
    outline:none;
    width:100%;
    border-bottom:1px solid white;
}
input:focus {
    border-color:#79C8C7;
}
/* .trusttheprocess {
    width:100%;
    border-bottom:1px solid white;

}
input:active .trusttheprocess {
    border-color:#79C8C7
} */
.form {
    margin-top: 120px;
    width:540px;
    height:420px;
}
/* footer styles */
footer {
    display: flex;
    flex-direction:column;
    width:100vw;
}
/* footer section styles */
.footer-bottom {
    background-color:#002529;
    display:flex;
    height:196px;
    width:100vw;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap;
    z-index:2;
}
.footer-logo {
    width:160px;
    height:40px;
}

.inline {
    display:inline;
}

.svg-position {
    position:absolute;
    left:0;
    bottom:-5px;
    z-index: 1;
}
.div-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
    z-index: 2;
}
.godown {
    margin-bottom:33px;
}
.altcontact-button {
    background-color:#F67E7E;
    color:#012F34;
    border:2px solid #012F34;
    border-radius:24px;
    height:48px;
    width:153px;
    text-align:center;
    transition:ease-in-out 0.2s;
    margin-left:600px
}
.altcontact-button:hover {
    color:white;
    background-color:#012F34;
    cursor:pointer;
}
/* color */
.color1 {
    color:white;
}
.color2 {
    color:#79C8C7
}

.right {
    text-align:right;
}/* Main */
/* media quaries */

@media (max-width:1440px) {
    /* footer */
    .footer-div-left{
        width:50%;
    }
    .footer-div-middle {
        width:50%;
        text-align:right;
    }
    .footer-div-right {
        width:100%;
    }
    .godown {
        margin-bottom:0;
    }
    .md-inline {
        display:inline;
        /* align-self: */
    }
    .right {
        text-align:left;
    }
    .footer-bottom {
        padding: 0 30px 0 30px
    }
    .altcontact-button {
        margin-left:50px;
    }
    .footer-bottom {
        height:271px
    }
    .footer-logo {
        width:120px;
        height:30px;
    }
    .div-position {
        width:760px;
    }
    /* footer end */

    /* header section contents */
    .floatleft {
        float:none;
    }
    /* header section end */
}
@media (max-width:768px) {
    .inline {
        display:block;
    }
    .footer-div-left{
        width:100%;
        text-align:center;
    }
    .footer-div-middle {
        width:100%;
        text-align:center;
        font-size:smaller
    }
    .footer-div-right {
        width:100%;
        text-align:center;
    }

    .md-inline {
        display:block;
    }
    .footer-top {
        height:302px;
    }
    .footer-bottom {
        height:432px;
        padding: 20px 0 0 0
    }
    .div-position {
        width:50%;
        text-align:center;
    }
    .altcontact-button {
        margin-left:0;
    }
    /* footer end */

    /* header section */
    .position1 {
        left:-100px;
    }
    /* header section end */
}
.submit {
    background-color: white;
    color: #004047;
    border-radius: 24px;
    height: 48px;
    width: 123px;
    text-align: center;
    margin-top:10px
}
.submit:hover {
    cursor:pointer;
}
/* br{
    
} */
