body {
    margin: 0;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    user-select: none;
}

.svgdecor {
    position: absolute;
}

.svgdecor1 {
    position: absolute;
    bottom: -30px;
}

.svg1 {
    align-self: flex-end;
    transform: translateY(500px);
}

.svg2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

h1 {
    font-family: "Livvic", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}

.b1 {
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.b2 {
    font-family: "Livvic", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}
/* header style */


/* nav copyable */

header {
    display: flex;
    position: relative;
    flex-shrink: 1;
    background-color: #014E56;
    height: 517px;
    width: 100vw;
    flex-direction: column;
    color: white;
}

/* nav styling */

nav {
    display: flex;
    max-width: 1410px;
    width: 1310px;
    max-height: 50px;
    flex-shrink: 0;
    margin: 0 auto;
    margin-top: 3rem;
    align-items: center;
    justify-content: flex-start;
}

.header-logo {
    width: 160px;
    height: 40px;
}

.contact-btn {
    margin-left: auto;
    width: 153px;
    height: 48px;
    background-color: #014E56;
    color: white;
    border-radius: 24px;
    border: 2px solid #FFF;
    transition: ease-in-out 0.2s;
}

.contact-mobile-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    transition: ease-in-out 0.2s;
    display: none;
}

.contact-mobile-btn:hover {
    color: #F67E7E;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: white;
    color: #014E56;
    cursor: pointer;
}

.home-link,
.about-link {
    margin-left: 50px;
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

.home-link:hover,
.about-link:hover {
    color: #F67E7E;
}


.mobile-menu {
    width: 255px;
    height: 100vh;
    position: fixed;
    z-index: 101;
    background-color: #014E56;
    transition: 0.2s ease-in-out;
    right: -255px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.fa-xmark {
    align-self: flex-end;
    margin-right: 25px;
    margin-top: 56px;
    color: white;
    transition: 0.2s ease-in-out;
}

.fa-xmark:hover {
    color: #F67E7E;
    cursor: pointer;
}

.mobile-home-btn {
    margin-top: 39px;
    margin-left: 48px;
    margin-bottom: 24px;
    color: white;
    text-decoration: none;
}

.mobile-link {
    margin-bottom: 36px;
    margin-left: 48px;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.mobile-link:hover {
    color: #F67E7E;
    cursor: pointer;
}

.mobile-contact-btn {
    margin-left: 48px;
    width: 153px;
    height: 48px;
    background-color: #014E56;
    color: white;
    border-radius: 24px;
    border: 2px solid #FFF;
    transition: ease-in-out 0.2s;
}

.mobile-contact-btn:hover {
    background-color: white;
    color: #014E56;
    cursor: pointer;
}

/* nav copyable/ */

/* header section styling */

.header-section {
    display: flex;
    margin: 100px auto;
    width: 1100px;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}

.left-header {
    width: 610px;
    margin-left: 100px;
}

.right-header {
    width: 730px;
    align-self: flex-end;
}

.header-top-space {
    width: 50px;
    height: 4px;
    margin-bottom: 60px;
    background-color: #F67E7E;
}

/* header svg's */

.svg-section {
    position: relative;
    width: 100vw;
    height: 100%;
}

.svg-group1 {
    position: relative;
}

.svg-head {
    position: absolute;
    right: 0px;
    bottom: -43px;
}


/* link stylings */
.link {
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.2s;
}

.marge {
    margin-right: 50px;
}

.marge2 {
    margin-right: 20px
}

.link:hover {
    color: #F67E7E;
    cursor: pointer;
}

.link:active {
    color: #F67E7E
}
/* icon size style */
.icon-size {
    font-size: 25px;
}
/* link styling end */

/*section after nav*/

.left-header {
    width: 610px;
    margin-left: 100px;
}

.right-header1 {
    width: 720px;
    height: 130px;
}

main {
    display: flex;
    position: relative;
    z-index: 2;
    background-color: #004047;
    height: 1100px;
    flex-direction: column;
    width: 100vw;
}

h2 {
    font-family: "Livvic", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;

}
.h2 {
    margin: auto 120px;
    width: 920px;
    text-align: center;
    color: white;
}
/*for h2 ^^^^^^^^^^^^^ */
.h2container {
    width: 920px;
    height: 48px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
}
.h2container1 {
    width: 920px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    padding-top: 140px;
}
/*start of styles for directors table */
/* 1 row for 3 boxes */
.linecontainer {
    display: grid;
    max-width: 1100px;
    height: 253px;
    align-self: center;
    grid-template-areas: 
    "m_1 m_2 m_3"
    "m_4 m_5 m_6";
    margin-top: 30px;
    column-gap: 30px;
    row-gap: 30px;
}

.m_1{
    grid-area: "m_1";
}

.m_2{
    grid-area: "m_2";
}

.m_3{
    grid-area: "m_3";
}

.m_4{
    grid-area: "m_4";
}

.m_5{
    grid-area: "m_5";
}

.m_6{
    grid-area: "m_6";
}

/* box for 1 line^^^^^ */
.maincontainer {
    display: inline-block;
    position: relative;
    background: #012F34;
    width: 350px;
    height: 253px;
    flex-shrink: 0;
}

/* box for 2nd line */
.maincontainer2 {
    display: inline-block;
    position: relative;
    background: #012F34;
    width: 350px;
    height: 253px;
    flex-shrink: 0;
}

/* end for 2nd line */
.img1 {
    display: flex;
    width: 96px;
    height: 96px;
    border-radius: 96px;
    border: 2px solid #C4FFFE;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.name {
    color: #79C8C7;
    text-align: center;
    font-family: "Livvic";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.description {
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px;
}

.text-show{
    display: none;
    padding: 35px 24px 0px 24px;
    text-align: center;
    width: 302px;
    height: 155px;
    flex-shrink: 0;
    transform: scaleX(-1);
}

.textshow_text{
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 166.667% */
    margin-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

.textshow_icons{
    display: flex;
    margin-top: 24px;
    color: white;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
/* if pres on plus icon */
.descriptionOPENED {
    width: 230px;
    margin: auto;
}

.icon {
    width: 80px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.fa-xl {
    color: white;
    margin-right: 0px;
}

.fa-xl:hover {
    color: #F67E7E;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.plusSVG {
    transform: translateX(147px);
    margin-top: 16px;
}

.circle_div_another{
    transition: 0.2s ease-in-out;
    transform-origin: center center;
}

.circle_div{
    transition: 0.2s ease-in-out;
}

.twitter-in:hover{
    background-color: #e2e2e2;
}
/*end of styles for directors table */



/* star of sponsor article */
.sponsorArticle {
    height: 437px;
    flex-shrink: 0;
    background: #012F34;
    width: 100vw;
}
.grid {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* end of sponsor article */
.img1-1{
    height: 108px;
    width: 108px;
}
.banners{
    display: flex;
    width: 1110px;
    height: 45px;
    flex-shrink: 0;
    margin: auto;
    gap: 20px;
    justify-content: space-between;
    margin-top: 60px;
}

.banner{
    height: 28px;
    filter: brightness(0) invert(1);
}



.banner_1-div{
    width: 165px;
}

.banner_2-div{
    width: 184px;
}

.banner_3-div{
    width: 180px;
}

.banner_4-div{
    width: 165px;
}

.banner_5-div{
    width: 98px;
}
.banner_1{
    width: 165px;
}

.banner_2{
    width: 184px;
    height:23px
}

.banner_3{
    width: 180px;
}

.banner_4{
    width: 165px;
}

.banner_5{
    width: 98px;
    height:45px;
}

/* end of sponsor article */


/* footer style start */
footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* footer section styles */
.footer-top {
    display: flex;
    position: relative;
    background-color: #F67E7E;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

.footer-bottom {
    background-color:#002529;
    display:flex;
    height:196px;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    z-index:2;
}
.footer-bottom-container {
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    height:100px;
    width:1110px

}
.footer-div-left {
 margin-right:128px;
}
.footer-div-right {
    margin-left:auto;
}

.footer-logo {
    width:160px;
    height:40px;
    margin-bottom:10px;
}


.opacity {
    opacity:60%;
}

.inline {
    display: inline;
}

.svg-position {
    position: absolute;
    left: 0;
    bottom: -4px;
    z-index: 1;
}

.div-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
    z-index: 2;
}

.godown {
    margin-bottom: 33px;
}
/* footer button */
.altcontact-button {
    background-color: #F67E7E;
    color: #012F34;
    border: 2px solid #012F34;
    border-radius: 24px;
    height: 48px;
    width: 153px;
    text-align: center;
    transition: ease-in-out 0.2s;
    margin-left: 600px
}

.altcontact-button:hover {
    color: white;
    background-color: #012F34;
    cursor: pointer;
}

/* color */
.color1 {
    color: white;
}

.color2 {
    color: #79C8C7
}

.right {
    text-align: right;
}
/* footer style end */

/*media quary (md) */
@media (max-width:1440px) {


    /* header */

    header {
        height: 556px;
    }


    .header-logo {
        width: 128px;
        height: 32px;
        flex-shrink: 0;
    }
    
    h1 {
        font-family: "Livvic", sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
    }

    .contact-btn {
        width: 153px;
        margin-left: 220px;
        
    }

    .home-link {
        margin-left: 48px;
    }

    .about-link {
        margin-left: 40px;
    }


    nav {
        width: 750px;
        margin: 65px auto;
        margin-bottom: 0;
        padding-left: 40px;
    }


    .svg-group2 {
        right: 31vw;
    }

    .header-section {
        height: 200px;
        width: 683px;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* gap: 20px; */
    }


    .header-top-space {
        display: none;
    }

    .left-header {
        height: 110px;
        width: 400px;
        margin: 0;
    }

    .left-header h1 {
        margin: 25px auto;
        text-align: center;
        width: 375px;
        margin-top: 10px;
    }

    .right-header {
        height: 110px;
        width: 457px;
        margin: 0;
        align-self: center;
        text-align: center;
    }

    .b1-special {
        font-size: 15px;
        line-height: 28px;
        margin: 0;
    }
    .linecontainer{
        margin-top: 40px;
    }


    .h2 {
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        width: 445px;
        height: 32px;
        margin: 0;
    }

    .h2container {
        display: block;
        width: 445px;
        height: 32px;
        margin: 100px auto;
        margin-bottom: 0px;
    }

    .maincontainer {
        width: 281px;
        height: 253px;
    }

    .maincontainer2 {
        width: 281px;
        height: 253px;
    }

    .text-show {
        padding-left: 0;
        padding-right: 0;
        width: 233px;
        padding-right: 24px;
    }

    .textshow_text {
        height: 75px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .textshow_icons {
        margin-top: 28px;
    }

    .plusSVG {
        margin-right: 150px;
        margin-left: 113px;
        /* position: absolute; */
        transform: translateX(0px);
    }

    .sponsorArticle {
        height: 308px;
        position: relative;
    }

    .svgfix {
        top: -100px;
    }

    .h2container1 {
        padding-top: 100px;
        height: 32px;
        width: 457px;
        margin: 0 auto;
    }

    .h2_cont1 {
        width: 467px;
    }

    .banners {
        margin-top: 52px;
    }

    .linecontainer {
        justify-content: center;
        display: grid;
        width: 1100px;
        height: 253px;
        align-self: center;
        grid-template-areas: 
        "m_1 m_2"
        "m_3 m_4" 
        "m_5 m_6";
        margin-top: 48px;
        column-gap: 11px;
        row-gap: 76px;
        
    }


    /* footer start */
    .footer-div-left {
        width: 50%;
    }

    .footer-logo {
        width:96px;
        height:24px;
        margin-bottom:50px;
    }

    .marge {
        color: #FFF;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px; /* 166.667% */
    }
    .marge {
        margin-right:20px;
    }

    .inline {
        color: #012F34;
        font-family: Livvic;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 100% */
        width: 336px;
        height: 32px;

    }

    .div-position {
        margin-left: 97px;
        text-align: center;
    }

    .footer-div-middle {
        width: 50%;
        text-align: right;
    }

    .footer-div-right {
        width: 100%;
        display:flex;
        justify-content:space-between
    }

    .godown {
        margin-bottom: 0;
    }

    .md-inline {
        display: inline;
    }

    .right {
        text-align: left;
    }

    .footer-bottom {
        padding: 0 30px 0 30px
    }
    .footer-bottom-container {
        width:689px;
        height:159px
    }
    .footer-div-left{
        width:50%;
        margin-right:0;
    }
    .footer-div-middle {
        width:50%;
        text-align:right;
    }
    .footer-div-right {
        width:100%;
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin-top:21px;
    }
    .altcontact-button {
        margin-left: 80px;
        width: 153px;
        height: 48px;
        flex-shrink: 0;
    }

    .footer-bottom {
        height: 271px;
    }
    .div-position {
        width: 760px;
    }
    .svg-position {
        bottom:-25px
    }
    /* footer end */

    .h2-md {
        line-height:32px;
        font-size:32px;
    }
    /* banner part of sponsor article */
    .banners {
        width:689px
    }
    .banner_1{
        width: 103px;
        height:17px;
    }
    
    .banner_2{
        width: 114px;
        height:14px
    }
    
    .banner_3{
        width: 112px;
        height:17px;
    }
    
    .banner_4{
        width: 103px;
        height:17px
    }
    
    .banner_5{
        width: 61px;
        height:28px;
    }
    .banners {
        margin-top:52px
    }

}

@media (min-width:769px) and (max-width: 1105px){
    main{height: 1219px;}
    /* .linecontainer {
        justify-content: center;
        display: flex;
        width: 100vw;
        height: 253px;
        align-self: center;
        margin-top: 48px;
        column-gap: 11px;
        row-gap: 76px;
        flex-direction: row;
        flex-wrap: wrap;
    } */
    .m_1{
        display: inline;
    }
    
    .m_2{
        display: inline;
    }
    
    .m_3{
        display: inline;
    }
    
    .m_4{
        display: inline;
    }
    
    .m_5{
        display: inline;
    }
    
    .m_6{
        display: inline;
    }

}

/* media quary (sm) */
@media (max-width:768px) {

    /* header  */


    h1 {
        font-family: "Livvic", sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }

    header {
        height: 520px;
    }


    .header-section {
        height: 200px;
        width: 400px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .header-top-space {
        display: none;
    }

    .left-header {
        height: 110px;
        margin: 0;
    }

    .left-header h1 {
        margin: 0 auto;
        margin-left: 73px;
        margin-top: 10px;
        text-align: center;
        width: 230px;
    }

    .left-header {
        width: 400px;
        margin-bottom: 0px;
    }

    .right-header {
        height: 200px;
        width: 327px;
        margin: 0 auto;
        margin-left: 25px;
        align-self: center;
        text-align: center;
    }

    .b1-special {
        font-size: 15px;
        line-height: 28px;
    }

    .home-link,
    .about-link,
    .contact-btn {
        display: none;
    }

    nav {
        width: 327px;
        margin: 48px auto;
        margin-bottom: 0px;
        padding-left: 0px;
    }

    .svg-head {
        bottom: -140px;
    }

    .svgdecor {
        top: -100px;
        z-index: -2;
    }

    .svg-group2 {
        right: 8vw;
    }

    .contact-mobile-btn {
        display: inline-block;
        position: fixed;
        margin-left: 300px;
        z-index: 3;
        background-color: 0;
    }

    /* grid area with obladaet */
    main{
        height: 2062px;
    }
    .linecontainer:nth-child(3){
        margin-bottom: 650px;
    }
    .linecontainer {
        justify-content: center;
        display: grid;
        width: 1100px;
        height: 253px;
        align-self: center;
        grid-template-areas: 
        "m_1"
        "m_2"
        "m_3"
        "m_4" 
        "m_5"
        "m_6";
        margin-top: 30px;
        column-gap: 28px;
        row-gap: 52px;
        margin-left: 12px;
        
    }
    .h2container{
        width: 327px;
        height: 32px;
        text-align: center;
        margin-top: 88px;
        margin-bottom: 16px;

    }
    .h2{
        width: 327px;
        font-size: 32px;
        margin: 0 0;
        z-index: 10;
    }

    .maincontainer_all {
        width: 327px;
        height: 253px;
        flex-shrink: 0;
    }

    .text-show {
        padding-left: 0;
        padding-right: 0;
        width: 233px;
        padding-right: 48px;
    }

    .textshow_text {
        height: 75px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .textshow_icons {
        margin-top: 28px;
    }

    .plusSVG {
        margin-right: 150px;
        margin-left: 135px;
        /* position: absolute; */
        transform: translateX(0px);
    }
    /* obla end */
    /* sponsor banner start */
    .sponsorArticle{
        height: 632px;
    }
    .h2container1{
        width: 300px;
        padding-top: 88px;
    }
    .svgfix{
        transform: translateX(-100px) translateY(-100px);
    }
    .banners{
        width: 250px;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        gap: 50px;
        margin-top:15px;
        margin-left: 70px;
    }
    .banner_1-div{
        display: inline;
        margin-top: 50px;
    }
    
    .banner_2-div{
        display: inline;
    }
    
    .banner_3-div{
        display: inline;
    }
    
    .banner_4-div{
        display: inline;
    }
    
    .banner_5-div{
        display: inline;
    }

    .banner_1{
        width: 146.56px;
        height:24.19px;
    }
    
    .banner_2{
        width: 162.21px;
        height:19.92px
    }
    
    .banner_3{
        width: 159.37px;
        height:24.19px;
    }
    
    .banner_4{
        width: 146.56px;
        height:24.19px;
    }
    
    .banner_5{
        width:86.8px;
        height:39.84px;
    }

    /* footer start */
    .inline {
        display: block;
        width: 200px;
        margin-top: 0;
    }
    .footer-logo {
        margin-top:17px;
        margin-bottom:22px;
    }
    .footer-bottom-container {
        width:327px;
        height:302px;
    }
    .footer-div-left{
        width:100%;
        text-align:center;
        margin-top: -15px;
        margin-bottom: 21px
    }

    .footer-div-middle {
        width:100%;
        text-align:center;
        font-size:smaller
    }

    .footer-div-right {
        width:100%;
        text-align:center;
        display:block;
        margin-top:40px;
    }
    
    .md-inline {
        display: block;
    }

    .footer-top {
        height: 302px;
    }

    .footer-bottom {
        height: 432px;
        padding: 0px 0 0 0
    }

    .div-position {
        width: 327px;
        height: 64px;
        margin-left: 88px;
        text-align: center;
    }

    .altcontact-button {
        margin-left: 0;
        margin-top: 30px;
    }
    /* footer end */
}
